* {
    margin: 0px;
}

#app {
    height: 100vh;
    background: linear-gradient(to right, #abbaab, #ffffff);
    display: grid;
    grid-gap: 5px;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 55%;
}

.insert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'Merriweather', serif;
    font-size: 2.0em;
    margin-top: 25px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'Merriweather', serif;
    font-size: 1.0em;
}

.show {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
}

.bookTable {
    font-family: 'Merriweather', serif;
    font-size: 0.5em;
}

.input-group {
    width: 500px;
}

#button-insert {
    width: 180px;
    height: 50px;
    font-size: 0.7em;
    margin-bottom: 20px;
}

#book-list {
    font-family: 'Merriweather', serif;
    font-size: 0.6em;
}

.alertBtn {
    font-family: 'Merriweather', serif;
    font-size: 0.2em;
    width: 180px;
    height: 50px;
}